<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smpw.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
				<key>dateExpires</key>
				<string>2024/09/01</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>07D4A377D33B0840788358E5AA5ADDB4E32D637E</string>
						<key>dateExpires</key>
						<string>2024/09/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X6676AFLUL</string>
						<key>name</key>
						<string>msline system inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X6676AFLUL.org.jw.smpwko</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X6676AFLUL</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f3769f12-b1b3-46ce-b9f5-5355fb46f946</string>
				<key>dateExpires</key>
				<string>2023/06/20</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: org.jw.smpwko</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X6676AFLUL</string>
				<key>name</key>
				<string>msline system inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
