/*
 Schedule
 style sheet for Schedule pages
*/

.schedule-overview .cal-row {
    width: 100%;
}
.schedule-overview  .cal-row i {
    color: #666;
}
.schedule-overview .day {
    text-align: left;
    font-weight: 600;
}
.schedule-overview .today {
    background: #f6f6f6;
}

@media (min-width: 992px) {
  .schedule-overview  .cal-row {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
    }
  .schedule-overview  .cal-row i {
        flex: 1;
        text-align: right;
    }
    .schedule-overview .cal-row .value {
        width: 50px;
        text-align: right;
    }
}

/* table option */
/* ------------------------------ */

/* table : min-width option */

.edit-publisher-publisher-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(2) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(3) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(4) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(5) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(6) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(7) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(8) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(9) .min-width {
    min-width: 110px;
}

.edit-publisher-publisher-list thead th:nth-child(10) .min-width {
    min-width: 85px;
}

.edit-publisher-week-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

/* jwkys2000@naver.com */