/*
 Publisher
 style sheet for publisher pages
*/

.publisher-photo-item {
    width: 100%;
    margin-bottom: 1rem;
}

.publisher-photo-item label {
    display: none;
}

.publisher-photo-item .photo-wrap {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.publisher-photo-item .photo-wrap img {
    width: 100%;
}

@media (min-width: 992px) {
    .publisher-photo-item {
        width: calc(50vw - 15px);
        max-width: 885px;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        height: 356px;
        overflow: hidden;
        border: 1px solid #ddd;
        background: #fafafa;
        display: flex;
        display: -ms-flexbox;
    }

    .publisher-photo-item label {
        display: block;
        color: #4b5aaa;
        font-size: .9rem;
        width: 200px;
        padding: 1rem;
    }

    .publisher-photo-item .photo-container {
        flex: 1;
        border-left: 1px solid #ddd;
        background: #fff;
        padding: 1rem;
    }

    .publisher-photo-item .photo-wrap {
        width: 246px;
        max-height: 320px;
    }
}

/* table option */
/* ------------------------------ */

/* table : min-width option */

.edit-publisher-publisher-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(2) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(3) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(4) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(5) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(6) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(7) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(8) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(9) .min-width {
    min-width: 110px;
}

.edit-publisher-publisher-list thead th:nth-child(10) .min-width {
    min-width: 85px;
}

.edit-publisher-week-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

/* jwkys2000@naver.com */