@charset "utf-8";

/* font setting */
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

/* reset */
/* ------------------------------ */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none
}

/* basic setting */
/* ------------------------------ */

html,
body {
    width: 100%;
    color: #333;
    overflow-y: auto;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: 'NanumSquare', sans-serif, 'Noto Sans KR', sans-serif, 'Nanum Gothic', sans-serif;
}

.font-family-root {
    font-family: 'NanumSquare', sans-serif, 'Noto Sans KR', sans-serif, 'Nanum Gothic', sans-serif !important;
}

.color-root {
    color: #333 !important
}

.font-weight-root {
    font-weight: 400 !important
}

.line-height-root {
    line-height: 1.5 !important
}

.font-size-root {
    font-size: 1rem !important
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

input[type='password'] {
    font-family: 'Noto Sans KR', sans-serif, 'Nanum Gothic', sans-serif;
}

input::placeholder {
    color: #ddd;
}

input:focus {
    color: #4b5aaa !important;
    border-color: #4b5aaa !important;
}

input:focus,
select:focus,
button:focus {
    box-shadow: none !important;
}

.custom-select:focus {
    border-color: #4b5aaa !important;
}

/* responsive option */

.body.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.body-veil {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background: rgba(0, 0, 0, .8);
    display: none;
    z-index: 9;
}

.for-desktop {
    display: none;
}

.btn-flex-area {
    display: flex;
    display: -ms-flexbox;
}

.btn-flex-area .btn {
    flex-grow: 1;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
}

.btn-flex-area .btn+.btn {
    margin-left: .5rem;
}

.btn-flex-row {
    flex-direction: column;
    -ms-flex-direction: column;
}

.btn-flex-row>div+div{
    margin-top: .5rem;
}

@media (min-width: 992px) {
    .btn-flex-row {
        flex-direction: unset;
        -ms-flex-direction: unset;
    }
    .btn-flex-row>div+div{
        margin-top: unset;
    }
    .btn-flex-area .btn {
        flex-grow: initial;
        flex-basis: initial;
        -ms-flex-positive: initial;
        -ms-flex-preferred-size: initial;
    }
}

.d-flex-for-desktop {
    display: block;
}

.d-flex-for-mobile {
    display: flex;
    display: -ms-flexbox;
}

.inline-responsive {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.inline-responsive .custom-control+.custom-control {
    margin-left: 1rem;
}

.inline-responsive .custom-select+.custom-select {
    margin-top: .25rem;
}

@media (min-width: 992px) {
    .body-veil {
        width: 0;
        height: 0;
        background: transparent;
    }

    .for-mobile {
        display: none;
    }

    .for-desktop {
        display: block;
    }

    .d-flex-for-desktop {
        display: flex;
        display: -ms-flexbox;
    }

    .d-flex-for-mobile {
        display: block;
    }

    .inline-responsive .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .inline-responsive .custom-select {
        width: auto;
    }

    .inline-responsive .custom-select+.custom-select {
        margin-top: 0;
        margin-left: .25rem;
    }

    .min-w-100px-desktop {
        min-width: 100px;
    }

    .min-w-150px-desktop {
        min-width: 150px;
    }

    .min-w-200px-desktop {
        min-width: 200px;
    }

    .min-w-250px-desktop {
        min-width: 250px;
    }

    .min-w-300px-desktop {
        min-width: 300px;
    }

    .min-w-350px-desktop {
        min-width: 350px;
    }

    .min-w-400px-desktop {
        min-width: 400px;
    }

    .min-w-450px-desktop {
        min-width: 450px;
    }

    .min-w-500px-desktop {
        min-width: 500px;
    }

    .max-w-100px-desktop {
        max-width: 100px;
    }

    .max-w-150px-desktop {
        max-width: 150px;
    }

    .max-w-200px-desktop {
        max-width: 200px;
    }

    .max-w-250px-desktop {
        max-width: 250px;
    }

    .max-w-300px-desktop {
        max-width: 300px;
    }

    .max-w-350px-desktop {
        max-width: 350px;
    }

    .max-w-400px-desktop {
        max-width: 400px;
    }

    .max-w-450px-desktop {
        max-width: 450px;
    }

    .max-w-500px-desktop {
        max-width: 500px;
    }
}

@media (max-width: 992px) {
    .pt-0-mobile{
        padding-top: 0 !important;
    }
}

/* basic layout setting */
/* ------------------------------ */

.wrap-box {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrap-content {
    width: 1800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {}

.content-section {
    min-height: calc(100vh - 56px);
    padding: 2.5rem 0 5rem 0;
}

.header+.content-section {
    min-height: calc(100vh - 56px - 50px);
}

@media (min-width: 992px) {
    .content-section {
        min-height: calc(100vh - 56px);
        padding: 5rem 0 5rem 0;
    }

    .header+.content-section {
        min-height: calc(100vh - 56px - 90px);
    }
}

.article {}

.aside {}

.footer {
    padding: 1rem 0;
}

/* header */
/* ------------------------------ */

.brand {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.brand .logo {
    height: 50px;
}

/* slide off canvas */

.btn-top-toggle .before,
.btn-top-toggle .after {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-top-toggle .before,
.btn-top-toggle.active .after {
    display: block;
}

.btn-top-toggle .after,
.btn-top-toggle.active .before {
    display: none;
}

.soc-container {
    position: fixed;
    top: 50px;
    right: -320px;
    width: 320px;
    height: calc(100vh - 50px);
    background: #fff;
    z-index: 99;
    transition: right .2s ease-in-out;
    -o-transition: right .2s ease-in-out;
    -ms-transition: right .2s ease-in-out;
    -moz-transition: right .2s ease-in-out;
    -webkit-transition: right .2s ease-in-out;
}

.soc-container.active {
    right: 0;
}

.soc-body {
    overflow-y: auto;
    height: calc(100vh - 50px - 45px);
}

.soc-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.soc-footer .btn-log {
    padding: .75rem 1rem;
    display: block;
    text-align: right;
    font-size: .9rem;
    background: #4b5aaa;
    color: rgba(255, 255, 255, .8) !important;
}

/* navigation */

.nav-wrap {}

.nav-depth-one>li {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-depth-one>li>a {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    padding: .75rem .5rem .75rem 1.25rem;
    cursor: pointer;
}

.nav-depth-one>li>a>i {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 4px 0;
    color: rgba(51, 51, 51, .25);
    transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
}

.nav-depth-one>li.open>a {
    color: #4b5aaa !important;
}

.nav-depth-one>li.open>a>i {
    color: #4b5aaa;
    transform: rotate(90deg);
    -ms-transition: rotate(90deg);
}

.nav-depth-two {
    display: none;
}

.nav-depth-two>li {
    background-color: #fafafa;
    border-top: 1px solid #eee;
}

.nav-depth-two>li>a {
    display: block;
    padding: .5rem 2rem;
    font-size: 90%;
    color: #666;
    white-space: nowrap;
}

/* user info */

.user-info-wrap {
    position: relative;
}

.user-info-wrap .login {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.user-info-wrap .logout {
    display: none;
}

.user-info-wrap .user-wrap {
    display: flex;
    display: -ms-flexbox;
}

.user-wrap .user-thumbnail {
    padding: 0;
}

.user-wrap .user-thumbnail img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40px;
}

.user-wrap .user-name {
    padding: 0 0 0 1rem;
}

.user-info-wrap .login-info-wrap {
    position: absolute;
    font-size: .8rem;
    color: #999;
    top: calc(1.5rem + 15px);
    left: calc(2rem + 40px);
}

/* top rows */

.first-row {
    height: 0;
}

.first-row .icon-wrap {
    display: flex;
    display: -ms-flexbox;
    position: absolute;
    top: 0;
    right: 0;
}

.second-row {
    height: 50px;
    background: #373737;
}

@media (min-width: 992px) {
    .brand {
        left: 15px;
    }

    .brand .logo {
        height: 80px;
    }

    /* slide off canvas */

    .soc-container,
    .soc-container.active {
        position: relative;
        top: initial;
        right: initial;
        width: initial;
        height: initial;
        background: transparent;
        z-index: 9;
        margin-left: calc(80px + 1rem);
    }

    .soc-body {
        overflow-y: visible;
        height: auto;
    }

    /* navigation */

    .nav-wrap {}

    .nav-depth-one {
        display: flex;
        display: -ms-flexbox;
        white-space: nowrap;
    }

    .nav-depth-one>li {
        background-color: transparent;
        border-bottom: none;
        position: relative;
    }

    .nav-depth-one>li>a,
    .nav-depth-one>li.open>a {
        display: flex;
        display: -ms-flexbox;
        justify-content: initial;
        padding: 8px 1.25rem;
        color: #fff !important;
        background: transparent;
    }

    .nav-depth-one>li:hover>a {
        background: rgba(0, 0, 0, .2);
    }

    .nav-depth-one>li.active>a,
    .nav-depth-one>li.active:hover>a {
        background: #4b5aaa;
    }

    .nav-depth-one>li>a>i,
    .nav-depth-one>li.open>a>i,
    .nav-depth-one>li.active>a>i {
        color: rgba(255, 255, 255, .5);
        transform: rotate(90deg);
        -ms-transition: rotate(90deg);
        margin-right: -13px;
    }

    .nav-depth-one>li:hover>a>i,
    .nav-depth-one>li.active:hover>a>i {
        transform: rotate(-90deg);
        -ms-transition: rotate(-90deg);
    }

    .nav-depth-one>li>a>span {
        font-size: .9rem;
        padding-top: 2px;
    }

    li .nav-depth-two {
        position: absolute;
        top: 50px;
        left: -100vw;
        opacity: 0;
        display: block;
        overflow-y: hidden;
        transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -o-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -ms-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -moz-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -webkit-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    }

    li:hover .nav-depth-two {
        top: 40px;
        left: 0;
        opacity: 1;
    }

    li .nav-depth-two>li>a {
        transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
    }

    li .nav-depth-two>li>a:hover {
        color: #fff !important;
        background: #4b5aaa;
    }

    /* user info */

    .user-info-wrap {
        position: absolute;
        display: flex;
        display: -ms-flexbox;
        top: -50px;
        right: 0;
    }

    .user-info-wrap .login {
        padding: 0;
        border-bottom: 0;
    }

    .user-info-wrap .logout {
        display: block;
        margin-top: 10px;
    }

    .user-info-wrap .user-wrap {
        position: relative;
        display: flex;
        display: -ms-flexbox;
    }

    .user-wrap .user-thumbnail {
        padding: 10px 0;
    }

    .user-wrap .user-thumbnail img {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 40px;
    }

    .user-wrap .user-name {
        padding: 13px 0 13px .5rem;
    }

    .user-info-wrap .nav-member {
        position: absolute;
        top: 60px;
        left: -100vw;
        opacity: 0;
        transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -o-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -ms-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -moz-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -webkit-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    }

    .user-info-wrap:hover .nav-member {
        top: 50px;
        left: 0;
        opacity: 1;
    }

    .nav-member ul {
        background: #000;
        padding: .5rem 0;
    }

    .nav-member ul li {
        display: block;
    }

    .nav-member ul li.split {
        padding-top: .5rem;
    }

    .nav-member ul li a {
        display: block;
        padding: .25rem 1rem;
        font-size: .9rem;
        color: #999 !important;
        transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
    }

    .nav-member ul li a:hover {
        color: #fff !important;
        background: #4b5aaa;
    }

    .user-info-wrap .login-info-wrap {
        position: relative;
        top: initial;
        left: initial;
        padding: 16px 0 0 1rem;
    }

    /* top rows */

    .first-row {
        height: 50px;
    }

    .first-row .slogan {
        margin-left: 80px;
        padding: 13px 1rem 13px 2.5rem;
    }

    .second-row {
        height: 40px;
    }

}

/* article */
/* ------------------------------ */

.page-header {
    margin-bottom: 2rem;
}

/* route */

.route {
    display: flex;
    display: -ms-flexbox;
    margin-top: .5rem;
}

.route a {
    display: block;
    cursor: pointer;
    font-size: .8rem;
    color: #666 !important;
}

.route a+a:before {
    display: inline-block;
    content: "/";
    padding: 0 .25rem;
    opacity: .25;
}

@media (min-width: 992px) {
    .page-header {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2.5rem;
    }

    .route {
        justify-content: flex-end;
    }

    .route a {
        font-size: .9rem;
    }

    .route a:hover {
        color: #4b5aaa !important;
    }
}

/* footer */
/* ------------------------------ */

.copyright {
    color: rgba(255, 255, 255, .5);
}

/* color set */
/* ------------------------------ */

/*
  color set data

  primary   : #4b5aaa   #435199
  secondary : #7d88c2   #6e7abb
  point     : #ffaf00   #facd6e
  point-sub : #232332   #46465f

  valid     : #28a745
  invalid   : #dc3545
*/

/* title color */

.page-title {
    color: #4b5aaa !important;
}

.section-title {
    color: #4b5aaa !important;
}

.widget-title {
    color: #7d88c2 !important;
}

/* text color */

.text-primary {
    color: #4b5aaa !important;
}

.text-secondary {
    color: #7d88c2 !important;
}

.text-point {
    color: #ffaf00 !important;
}

.text-point-sub {
    color: #232332 !important;
}

/* background color */

.bg-primary {
    background-color: #4b5aaa !important;
}

.bg-primary-over {
    background-color: #435199 !important;
}

.bg-secondary {
    background-color: #7d88c2 !important;
}

.bg-secondary-over {
    background-color: #6e7abb !important;
}

.bg-point {
    background-color: #ffaf00 !important;
}

.bg-point-over {
    background-color: #facd6e !important;
}

.bg-point-sub {
    background-color: #232332 !important;
}

.bg-point-sub-over {
    background-color: #46465f !important;
}

/* border color */

.border-primary {
    border-color: #4b5aaa !important;
}

.border-secondary {
    border-color: #7d88c2 !important;
}

.border-point {
    border-color: #ffaf00 !important;
}

.border-point-sub {
    border-color: #232332 !important;
}

/* alert */

.alert-primary {
    color: #4b5aaa !important;
    background-color: rgba(40, 90, 120, 0.2) !important;
    border-color: rgba(40, 90, 120, 0.4) !important;
}

.alert-secondary {
    color: #7d88c2 !important;
    background-color: rgba(43, 176, 159, 0.2) !important;
    border-color: rgba(43, 176, 159, 0.4) !important;
}

.alert-point {
    color: #ffaf00 !important;
    background-color: rgba(237, 184, 80, 0.2) !important;
    border-color: rgba(237, 184, 80, 0.4) !important;
}

.alert-point-sub {
    color: #232332 !important;
    background-color: rgba(213, 210, 205, 0.2) !important;
    border-color: rgba(213, 210, 205, 0.4) !important;
}

/* table */

.table-bg-primary thead th {
    color: #fff !important;
    background-color: #4b5aaa !important;
}

.table-bg-secondary thead th {
    color: #fff !important;
    background-color: #7d88c2 !important;
}

.table-bg-point thead th {
    color: #fff !important;
    background-color: #ffaf00 !important;
}

.table-bg-point-sub thead th {
    color: #fff !important;
    background-color: #232332 !important;
}

/* ul-table */

.ul-table-bg-primary .ul-thead li {
    color: #fff !important;
    background-color: #4b5aaa !important;
}

.ul-table-bg-primary .ul-body li label {
    color: #4b5aaa;
}

.ul-table-bg-secondary .ul-thead li {
    color: #fff !important;
    background-color: #7d88c2 !important;
}

.ul-table-bg-secondary .ul-body li label {
    color: #7d88c2;
}

.ul-table-bg-point .ul-thead li {
    color: #fff !important;
    background-color: #ffaf00 !important;
}

.ul-table-bg-point .ul-body li label {
    color: #ffaf00;
}

.ul-table-bg-point-sub .ul-thead li {
    color: #fff !important;
    background-color: #232332 !important;
}

.ul-table-bg-point-sub .ul-body li label {
    color: #232332;
}

/* paging */

.paging a:hover,
.paging .next:hover,
.paging .prev:hover {
    color: #fff;
    background: #7d88c2
}

.paging .active a,
.paging a.active {
    color: #fff;
    background: #4b5aaa;
}

.paging-primary a:hover,
.paging-primary .next:hover,
.paging-primary .prev:hover {
    color: #fff !important;
    background: #4b5aaa !important
}

.paging-primary .active a,
.paging-primary a.active {
    color: #fff !important;
    background: #435199 !important
}

.paging-secondary a:hover,
.paging-secondary .next:hover,
.paging-secondary .prev:hover {
    color: #fff !important;
    background: #6e7abb !important
}

.paging-secondary .active a,
.paging-secondary a.active {
    color: #fff !important;
    background: #7d88c2 !important;
}

/* layer popup */

.lp-head .lp-title {
    color: #4b5aaa;
}

/* checkbox & radio */

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #4b5aaa;
    background-color: #4b5aaa;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(40, 90, 120, 0.2);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #4b5aaa;
}

/* checkbox hover */

.custom-checkbox .custom-control-input:disabled:hover~.custom-control-label::after {
    background-image: none;
}

.custom-checkbox .custom-control-input:hover~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%234b5aaa' viewBox='0 0 8 8'%3e%3cpath  d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z' /%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z' /%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input.is-invalid:hover~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 8 8'%3e%3cpath  d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z' /%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input.is-invalid:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath  d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z' /%3e%3c/svg%3e");
}

/* radio hover */

.custom-radio .custom-control-input:disabled:hover~.custom-control-label::after {
    background-image: none;
}

.custom-radio .custom-control-input:hover~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%234b5aaa' viewBox='-4 -4 8 8'%3e%3ccircle r='3' /%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='-4 -4 8 8'%3e%3ccircle r='3' /%3e%3c/svg%3e");
}

.custom-radio .custom-control-input.is-invalid:hover~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-4 -4 8 8'%3e%3ccircle r='3' /%3e%3c/svg%3e");
}

.custom-radio .custom-control-input.is-invalid:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='-4 -4 8 8'%3e%3ccircle r='3' /%3e%3c/svg%3e");
}

/* button color */

.btn-primary {
    color: #fff;
    background-color: #4b5aaa !important;
    border-color: #4b5aaa !important;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #435199 !important;
    border-color: #435199 !important;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-secondary {
    color: #fff;
    background-color: #7d88c2;
    border-color: #7d88c2;
}

.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #6e7abb !important;
    border-color: #6e7abb !important;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-point {
    color: #fff;
    background-color: #ffaf00;
    border-color: #ffaf00;
}

.btn-point:hover,
.btn-point:not(:disabled):not(.disabled).active,
.btn-point:not(:disabled):not(.disabled):active,
.show>.btn-point.dropdown-toggle {
    color: #fff !important;
    background-color: #facd6e !important;
    border-color: #facd6e !important;
}

.btn-point:focus,
.btn-point.focus,
.btn-point:not(:disabled):not(.disabled).active:focus,
.btn-point:not(:disabled):not(.disabled):active:focus,
.show>.btn-point.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-point-sub {
    color: #fff;
    background-color: #232332;
    border-color: #232332;
}

.btn-point-sub:hover,
.btn-point-sub:not(:disabled):not(.disabled).active,
.btn-point-sub:not(:disabled):not(.disabled):active,
.show>.btn-point-sub.dropdown-toggle {
    color: #fff !important;
    background-color: #46465f !important;
    border-color: #46465f !important;
}

.btn-point-sub:focus,
.btn-point-sub.focus,
.btn-point-sub:not(:disabled):not(.disabled).active:focus,
.btn-point-sub:not(:disabled):not(.disabled):active:focus,
.show>.btn-point-sub.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-outline-primary {
    color: #4b5aaa;
    border-color: #4b5aaa;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #4b5aaa;
    border-color: #4b5aaa;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-outline-secondary {
    color: #7d88c2;
    border-color: #7d88c2;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #7d88c2;
    border-color: #7d88c2;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-outline-point {
    color: #ffaf00;
    border-color: #ffaf00;
}

.btn-outline-point:hover,
.btn-outline-point:not(:disabled):not(.disabled):active,
.btn-outline-point:not(:disabled):not(.disabled).active,
.show>.btn-outline-point.dropdown-toggle {
    color: #fff;
    background-color: #ffaf00;
    border-color: #ffaf00;
}

.btn-outline-point:focus,
.btn-outline-point.focus,
.btn-outline-point:not(:disabled):not(.disabled):active:focus,
.btn-outline-point:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-point.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-outline-point-sub {
    color: #232332;
    border-color: #232332;
}

.btn-outline-point-sub:hover,
.btn-outline-point-sub:not(:disabled):not(.disabled):active,
.btn-outline-point-sub:not(:disabled):not(.disabled).active,
.show>.btn-outline-point-sub.dropdown-toggle {
    color: #fff;
    background-color: #232332;
    border-color: #232332;
}

.btn-outline-point-sub:focus,
.btn-outline-point-sub.focus,
.btn-outline-point-sub:not(:disabled):not(.disabled):active:focus,
.btn-outline-point-sub:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-point-sub.dropdown-toggle:focus {
    box-shadow: none !important;
}

/* form feedback */
/* ------------------------------ */

.valid-feedback {
    color: #28a745;
}

.valid-tooltip {
    color: #fff;
    background-color: rgba(40, 167, 69, 0.9);
}

.was-validated .form-control:valid,
.form-control.is-valid {
    border-color: #28a745;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2);
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
    border-color: #28a745;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2);
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
    color: #28a745;
}

.was-validated .custom-control-input:valid~.custom-control-label,
.custom-control-input.is-valid~.custom-control-label {
    color: #28a745;
}

.was-validated .custom-control-input:valid~.custom-control-label::before,
.custom-control-input.is-valid~.custom-control-label::before {
    border-color: #28a745;
}

.was-validated .custom-control-input:valid:checked~.custom-control-label::before,
.custom-control-input.is-valid:checked~.custom-control-label::before {
    border-color: #28a745;
    background-color: #28a745;
}

.was-validated .custom-control-input:valid:focus~.custom-control-label::before,
.custom-control-input.is-valid:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2);
}

.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label::before {
    border-color: #28a745;
}

.was-validated .custom-file-input:valid~.custom-file-label,
.custom-file-input.is-valid~.custom-file-label {
    border-color: #28a745;
}

.was-validated .custom-file-input:valid:focus~.custom-file-label,
.custom-file-input.is-valid:focus~.custom-file-label {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2);
}

.invalid-feedback {
    color: #dc3545;
}

.invalid-tooltip {
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.2);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
    border-color: #dc3545;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.2);
}

.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label {
    color: #dc3545;
}

.was-validated .custom-control-input:invalid~.custom-control-label,
.custom-control-input.is-invalid~.custom-control-label {
    color: #dc3545;
}

.was-validated .custom-control-input:invalid~.custom-control-label::before,
.custom-control-input.is-invalid~.custom-control-label::before {
    border-color: #dc3545;
}

.was-validated .custom-control-input:invalid:checked~.custom-control-label::before,
.custom-control-input.is-invalid:checked~.custom-control-label::before {
    border-color: #dc3545;
    background-color: #dc3545;
}

.was-validated .custom-control-input:invalid:focus~.custom-control-label::before,
.custom-control-input.is-invalid:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.2);
}

.was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label::before {
    border-color: #dc3545;
}

.was-validated .custom-file-input:invalid~.custom-file-label,
.custom-file-input.is-invalid~.custom-file-label {
    border-color: #dc3545;
}

.was-validated .custom-file-input:invalid:focus~.custom-file-label,
.custom-file-input.is-invalid:focus~.custom-file-label {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.2);
}

/* datepicker */

.datepicker table tr td.focused,
.datepicker table tr td.day:hover {
    color: #333 !important;
    background: #eee !important;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active {
    color: #fff !important;
    border-color: #4b5aaa !important;
    background-color: #4b5aaa !important;
}

.datepicker table tr td.new,
.datepicker table tr td.old {
    color: #ccc !important;
}

/* option */

.required {
    color: #dc3545 !important;
}

/* jwkys2000@naver.com */

/* bootstrap customizing */
/* ------------------------------ */

.btn {
    white-space: nowrap
}

.btn,
.form-control,
.custom-select,
.input-group-text {
    border-radius: 0 !important;
}

.form-control,
.custom-select {
    border: 1px solid #ddd;
}

.container,
.container-fluid {
    position: relative;
}

.input-group-text {
    color: #999;
    background-color: #fafafa;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    padding: .25rem 1rem;
    font-size: .9rem;
}

.nav-tabs .nav-link {
    border: 1px solid;
    border-color: #ddd #ddd transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #4b5aaa;
    border-color: #4b5aaa #4b5aaa transparent;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.main-icon-link a {
    display: flex;
    align-items: center;
    height: 88.5px;
    background: rgba(75, 90, 170, .15);
    font-size: 1rem;
    padding: 0 2.5rem;
}

.main-icon-link a i {
    font-size: 1.5rem;
    margin-right: .75rem;
}

.main-icon-link a:hover {
    background: rgba(75, 90, 170, .25);
}

.main-icon-link a + a {
    margin-top: -1px;
}

/*
 Common elements.
 style sheet for common elements.
*/

a:hover {
    color: #4b5aaa !important;
}

a.file {
    width: 100%;
    display: block;
    cursor: pointer;
}

/* feedback */
/* ------------------------------ */

.info-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #999;
}

.input-flex-group label {
    font-size: 90%;
    color: #4b5aaa;
}

/* state */
/* ------------------------------ */

.state-publisher-wait {
    background: #e6f0dc;
}

.state-publisher-set {
    background: #e6f0dc;
}

.state-publisher-leader {
    background: #fae1a5;
}

.state-publisher-wait .custom-select,
.state-publisher-set .custom-select,
.state-publisher-leader .custom-select{
    background: transparent;
    border-color: #fff;
}

/* modal layer popup */
/* ------------------------------ */

.modal-layer-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    z-index: 999;
    background: rgba(0, 0, 0, .8);
}

.mlp-wrap {
    position: relative;
    background: #fff;
}

.mlp-wrap th,
.mlp-wrap td {
    padding: .25rem .75rem;
    font-size: 80%;
}

.mlp-header {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    background: #fff;
    min-height: 2rem;
}

.mlp-header .mlp-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4b5aaa;
    padding: 1rem;
}

.mlp-close {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .5;
    width: 30px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.mlp-header .mlp-close:hover {
    opacity: .75;
}

.mlp-content {
    height: 100%;
    max-height: calc(100vh - 11rem);
    overflow-y: auto;
    position: relative;
    padding: 1rem 1rem 0 1rem;
}

.mlp-footer {
    padding: 1rem;
    background: #fff;
    display: flex;
    display: -ms-flexbox;
}

.mlp-footer .btn+.btn {
    margin-left: .25rem;
}

.mlp-footer.flex .btn {
    flex: 1;
}

/* select date wrap common elements */

.select-date-wrap {
    width: 100%;
}

.select-date-wrap .day-area {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
}

.select-date-wrap .arrow {
    border: 0;
    background: transparent;
    padding: 0 1rem;
    color: rgba(51, 51, 51, .25);
}

.select-date-wrap .arrow:hover {
    color: #4b5aaa;
}

.select-date-wrap .year {}

.select-date-wrap .month {}

.select-date-wrap .day {}

.select-date-wrap .weekday {
    margin-left: .5rem;
}

.select-date-wrap .year+.month:before,
.select-date-wrap .month+.day:before {
    display: inline-block;
    content: ".";
    padding: 0 .125rem;
}

.select-date-wrap .btn-area {
    display: flex;
    display: -ms-flexbox;
    margin-top: .5rem;
    justify-content: center;
}

.select-date-wrap .btn-area .btn {
    flex: 1;
}

.select-date-wrap .btn-today+.btn-select {
    margin-left: .25rem;
}

@media (min-width: 350px) {
    .select-date-wrap .year {
        font-size: 1.25rem;
    }

    .select-date-wrap .month {
        font-size: 1.25rem;
    }

    .select-date-wrap .day {
        font-size: 1.25rem;
    }

    .select-date-wrap .weekday {
        font-size: 1.25rem;
    }
}
@media (min-width: 576px) {
    .select-date-wrap {
        width: auto;
    }

    .select-date-wrap {
        display: flex;
        display: -ms-flexbox;
        align-content: center;
    }

    .select-date-wrap .btn-area {
        margin-top: 0;
    }

    .select-date-wrap .btn-area .btn {
        width: auto;
    }

}

.select-date-wrap.no-btn-select .btn-select {
    display: none;
}

/* search form section in list page */
/* ------------------------------ */

.search-section {
    padding: 1rem;
    background: #fafafa;
}

.search-section .search-form-item {}

.search-section .search-form-item .label {
    width: 100%;
    display: block;
    height: 1.5rem;
    color: #4b5aaa;
    font-size: .9rem;
}

.search-section .search-form-item .date-wrap .div{
    height: .25rem;
    opacity: 0;
}

.search-section .search-form-date {
    margin-top: 1.75rem;
}

.search-section .search-btn-area {
    margin-top: 1rem;
    display: flex;
    display: -ms-flexbox;
}

.search-section .search-btn-area .btn {
    flex-grow: 1;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
}

.search-section .search-form-item+.search-form-item {
    margin-top: .5rem;
}

@media (min-width: 992px) {

    .search-section {
        display: flex;
        display: -ms-flexbox;
    }

    .search-section .search-form-item {
        margin-top: 0;
    }

    .search-section .search-form-item .custom-select,
    .search-section .search-form-item .form-control {
        min-width: 130px;
    }

    .search-section .search-form-item .date-wrap {
        display: flex;
    }
    .search-section .search-form-item .date-wrap .div{
        padding-top: 7px;
        margin: 0 .25rem;
        opacity: .5;
    }

    .search-section .search-form-date .select-date-wrap {
        justify-content: flex-end;
    }

    .search-section .search-btn-area {
        text-align: right;
        margin-top: 1.5rem;
        margin-left: .5rem;
        display: block;
    }

    .search-section .search-form-item+.search-form-item {
        margin-left: .5rem;
        margin-top: 0;
    }

    .search-section .search-form-item+.search-form-date{
        margin-left: .5rem;
        flex: 1;
    }

    .search-section .search-form-item+.search-btn-area {
        flex: 1;
    }
}

/* calender section */
/* ------------------------------ */

.calender-section {
    padding: 1rem;
    border: 1px solid #ddd;
    display: flex;
    display: -ms-flexbox;
}

/* register form section in register page */
/* ------------------------------ */

.register-section .btn-area,
.register-section .btn-flex-area {
    margin-top: 1rem;
}

.register-section .table-register tbody th .label {
    color: #4b5aaa;
    font-size: .9rem;
    font-weight: normal;
}
@media (max-width: 992px) {
    .register-section  .table-register tbody th {
        display: block;
        float: left;
        width: 100%;
        border-bottom: none !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .register-section   .table-register tbody td {
        display: block;
        float: left;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-top: none !important;
        border-bottom: 0;
    }
}

@media (min-width: 992px) {
    .register-section .table-register tbody th {
        width: 150px;
        background: #fafafa;
        border: 1px solid #ddd;
    }
    .register-section .table-register tbody td {
        border: 1px solid #ddd;
    }
}

/* register detail form */

.register-section .search-form {
    display: flex;
    display: -ms-flexbox;
}

.register-section .search-form .form-control {
    max-width: 320px;
}

.register-section .search-form .form-control+.btn {
    margin-left: .25rem;
}

.register-section .search-form+.form-control,
.register-section .search-form+.custom-select {
    margin-top: .25rem;
}

@media (min-width: 992px) {
    .register-section  .search-form .form-control {
        min-width: 150px;
    }

    .register-section  .search-form.flex+.form-control,
    .register-section   .search-form.flex+.custom-select {
        margin-top: 0;
        margin-left: 1rem;
        width: auto;
        min-width: 150px;
        max-width: 320px;
    }
}

/* section margin option */

.search-section+.section-table-section {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .search-section+.section-table-section {
        margin-top: 1.5rem;
    }
    .calender-section+.section-table-section {
        margin-top: 1rem;
    }
}

/* table option */
/* ------------------------------ */

.table thead th {
    background-color: rgba(75, 90, 170, .1) !important;
}

.table tbody th {
    background-color: rgba(75, 90, 170, .1) !important;
}

.table tfoot td {
    background-color: rgba(51, 51, 51, .025) !important;
}

.table-hover tbody tr:hover {
    background-color: rgba(75, 90, 170, .03) !important;
}

.table-striped-even tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .02);
}

.table-center {}

.table-center th,
.table-center td {
    text-align: center;
}

.table-font-size-90 {}

.table-font-size-90 th,
.table-font-size-90 td {
    font-size: 90%;
}

/* page option */

.page {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    margin-top: 1rem;
}

.page li+li {
    margin-left: .2rem;
}

.page a {
    display: block;
    cursor: pointer;
    padding: .25rem;
    min-width: 2rem;
    text-align: center;
    background: #f0f0f0;
    color: #ccc !important;
}

.page a:hover {
    color: #4b5aaa !important;
}

.page .active a {
    background: #4b5aaa;
    color: #fff !important;
}

/* datepicker */
/* ------------------------------ */

.ui-datepicker {
    width: 256px !important;
    padding: .5rem !important;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
}

.ui-widget-header {
    border: none !important;
    background: #4b5aaa !important;
    color: #fff !important;
    font-weight: normal !important;
    border-radius: 0 !important;
    margin: -.5rem -.5rem 0 -.5rem;
}

.ui-datepicker .ui-datepicker-header {
    padding: .75rem !important;
}

.ui-icon-circle-triangle-w {
    background-position: 0 !important;
}

.ui-icon-circle-triangle-e {
    background-position: -16px !important;
}

.ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
    opacity: .5;
}

.ui-datepicker .ui-datepicker-next {
    right: 0 !important;
    opacity: .5;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 0 !important;
    width: 52px !important;
    height: 52px !important;
}

.ui-widget-header .ui-state-hover {
    border: none !important;
    background: transparent !important;
    cursor: pointer;
    opacity: 1;
}

.ui-widget-header .ui-icon {
    background-image: url('../img/common/datepicker-arrow.png') !important;
}

.ui-datepicker table {
    margin: 0 !important;
}

.ui-datepicker th {
    padding: .5rem 0 !important;
    font-weight: normal !important;
}

.ui-datepicker th span[title="Sunday"] {
    color: #e64628;
}

.ui-datepicker th span[title="Saturday"] {
    color: #005cbf;
}

.ui-datepicker td {
    padding: 0 !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    width: 28px;
    border-radius: 20px;
    margin: .25rem auto 0 auto;
    border-color: transparent !important;
    background: transparent !important;
    color: rgba(51, 51, 51, .75) !important;
}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover {
    color: #4b5aaa !important;
    background: rgba(75, 90, 170, .25) !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    font-weight: bold !important;
    color: #4b5aaa !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-content .ui-state-active:hover {
    background: #4b5aaa !important;
    color: #fff !important;
}

.ui-state-default {
    text-align: center !important;
}

/* */

.icon-file {
    width: 30px;
    color: #4b5aaa;
}


.table-notice-view .notice-title {
    font-size: 120%;
    font-weight: bold;
    color: #4b5aaa;
}

.table-notice-view .label {
    font-size: .9rem;
    color: #4b5aaa;
    display: inline-block;
    width: 100px;
}

.bubble-graph {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(75, 90, 170, .75);
    border-radius: 1000px;
    color: #fff;
    line-height: 1.25;
    margin: 0 auto .5rem auto;
}

.bubble-graph .label {
    font-weight: 600;
    font-size: 1rem;
}

.bubble-graph .num {
    font-weight: 800;
    font-size: 1.5rem;
}

.bubble-graph-lg {
    width: 230px;
    height: 230px;
    background: #4b5aaa;
}

.bubble-graph-lg .label {
    font-size: 1.5rem;
}

.bubble-graph-lg .num {
    font-size: 2rem;
}

/*
 Member.
 style sheet for member pages.
*/

/* login page */
/* ------------------------------ */

.login-page .content-section {
    /*background: url("../img/member/bg-login.png") center no-repeat;*/
    background: #f6f6fa;
    background-size: cover;

}

/* login-form-section */

.login-form-section {
    max-width: 430px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.login-form-section .logo-wrap {
    padding: 2rem;
    text-align: center;
}

.logo-wrap .logo {
    height: 100px;
}

.logo-wrap .typo-area {
    margin: 1rem 0 0 0;
    line-height: 1.25;
}

@media (min-width: 576px) {
    .login-form-section .logo-wrap {
        display: flex;
        display: -ms-flex;
        align-items: center;
        text-align: left;
    }

    .logo-wrap .logo {
        height: 90px;
    }

    .logo-wrap .typo-area {
        margin: 0 0 0 1rem;
    }
}

.login-form-wrap {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
}

.login-form-wrap .input-flex-group+.input-flex-group {
    margin-top: 1rem;
}

.login-form-wrap .btn-ask-reset {
    cursor: pointer;
    color: #999 !important;
    font-size: .8rem;
}

.login-form-wrap .btn-ask-reset:hover {
    color: #4557a0 !important;
}

.no-label .input-flex-group label {
    display: none;
}

.no-label .input-flex-group+.input-flex-group {
    margin-top: .5rem !important;
}

/*
 Circuits
 style sheet for circuits pages
*/

.register-map {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 200px;
}

@media (min-width: 992px) {
    .register-map {
        min-height: 300px;
    }
}

/* table option */
/* ------------------------------ */

.edit-circuits-territory-list thead th:nth-child(1) {
    width: 10%;
}

/* table : min-width option */

.edit-circuits-territory-list thead th:nth-child(1) .min-width {
    min-width: 60px;
}

.edit-circuits-territory-list thead th:nth-child(2) .min-width {
    min-width: 60px;
}

.edit-circuits-territory-list thead th:nth-child(3) .min-width {
    min-width: 60px;
}

.edit-circuits-territory-list thead th:nth-child(4) .min-width {
    min-width: 60px;
}

.edit-circuits-territory-list thead th:nth-child(5) .min-width {
    min-width: 85px;
}

.edit-circuits-user-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(2) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(3) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(4) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(5) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(6) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(7) .min-width {
    min-width: 110px;
}

.edit-circuits-user-list thead th:nth-child(8) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(9) .min-width {
    min-width: 10px;
}

.edit-circuits-user-list thead th:nth-child(10) .min-width {
    min-width: 85px;
}

.edit-circuits-storage-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

.edit-circuits-storage-list thead th:nth-child(2) .min-width {
    min-width: 10px;
}

.edit-circuits-storage-list thead th:nth-child(3) .min-width {
    min-width: 10px;
}

.edit-circuits-storage-list thead th:nth-child(4) .min-width {
    min-width: 10px;
}

.edit-circuits-storage-list thead th:nth-child(5) .min-width {
    min-width: 70px;
}

.edit-circuits-storage-list thead th:nth-child(6) .min-width {
    min-width: 10px;
}

.edit-circuits-storage-list thead th:nth-child(7) .min-width {
    min-width: 110px;
}

.edit-circuits-storage-list thead th:nth-child(8) .min-width {
    min-width: 205px;
}

.edit-circuits-storage-list thead th:nth-child(9) .min-width {
    min-width: 85px;
}

/*
 Publisher
 style sheet for publisher pages
*/

.photo-container {}

.photo-container .thumbnail {
    max-height: 250px;
    max-width: 360px;
    border: 1px solid #ddd;
    border-radius: 0;
}

/* table option */
/* ------------------------------ */

/* table : min-width option */

.edit-publisher-publisher-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(2) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(3) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(4) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(5) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(6) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(7) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(8) .min-width {
    min-width: 10px;
}

.edit-publisher-publisher-list thead th:nth-child(9) .min-width {
    min-width: 110px;
}

.edit-publisher-publisher-list thead th:nth-child(10) .min-width {
    min-width: 85px;
}

.edit-publisher-week-list thead th:nth-child(1) .min-width {
    min-width: 10px;
}

/*
 Schedule
 style sheet for Schedule pages
*/

/* schedule overview */
/* ------------------------------ */

.schedule-overview{}

.schedule-overview .table tbody td {
    cursor: pointer;
}.schedule-overview .table tbody td:hover {
     background-color: rgba(75, 90, 170, .03);
 }

.schedule-overview .cal-item {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
}

.schedule-overview .cal-item .cal-label {
    width: 65px;
}

.schedule-overview .cal-item i {
    color: #666;
    text-align: left;
    flex: 1;
}

.schedule-overview .cal-item .cal-value {
    width: 40px;
    text-align: right;
}

.schedule-overview .day {
    font-weight: 600;
    margin-bottom: .5rem;
}

.schedule-overview .today {
    background: #f6f6f6;
}

.schedule-overview .sun {
    color: #c02b26;
}

.schedule-overview .sat {
    color: #2654c0;
}

@media (min-width: 992px) {
    .schedule-overview .cal-item .cal-label {
        padding-left: 1rem;
        min-width: calc(100% - 50px);
    }
}

@media (min-width: 1200px) {
    .schedule-overview .cal-item .cal-label {
        padding-left: 1.5rem;
        min-width: calc(100% - 50px);
    }
}

/* schedule detail */
/* ------------------------------ */

.schedule-detail{}

.schedule-detail .table .min-width {
    min-width: 87px;
}
.schedule-detail .table tbody td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.schedule-detail .table tbody td:hover {
    background-color: rgba(75, 90, 170, .03);
}
.schedule-detail .territory-name {
    height: 165px;
    padding-top: 4rem;
    font-weight: bold;
    color: #4b5aaa;
    text-align: center;
}

.schedule-detail .publisher-area {
    height: 165px;
}

.schedule-detail .publisher-area ul li {
    display: flex;
    display: -ms-flexbox;
    align-content: center;
}
.schedule-detail .publisher-area ul li .name {
    width: 70px;
    padding: 2px 0;
}
.schedule-detail .publisher-area ul li .del {
    padding: 3px 5px 3px 5px;
    color: rgba(0, 0, 0, .1);
    cursor: pointer;
}
.schedule-detail .publisher-area ul li .del:hover {
    color: #c02b26;
}

.schedule-detail .publisher-area .introducer {
    color: #4b5aaa;
    font-weight: bold;
}

.schedule-detail .territory-name+.btn-area,
.schedule-detail .publisher-area + .btn-area {
    margin-top: 1rem;
}

/* reset schedule */
/* ------------------------------ */

.schedule-reset {
    padding: 1rem;
    border: 1px solid #ddd;
}

.schedule-reset .notice {
    color: #c02b26;
    font-weight: bold;
}

.schedule-reset .item-wrap {
    margin-top: 1.5rem;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.schedule-reset .item-wrap label {
    color: #4b5aaa;
}

.schedule-reset .item-wrap .input-group {
    margin-top: .5rem;
}

.schedule-reset .item-wrap .btn-area {
    margin-top: .5rem;
    display: flex;
    display: -ms-flexbox;
}

.schedule-reset .item-wrap .btn-area .btn {
    flex: 1;
}

@media (min-width: 992px) {
    .schedule-reset {
        padding: 2rem;
    }
    .schedule-reset .notice {
        text-align: center;
    }
    .schedule-reset .item-wrap {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .schedule-reset .item-wrap label {
        margin-right: 1rem;
    }
    .schedule-reset   .item-wrap .input-group {
        margin-top: 0;
    }
    .schedule-reset  .item-wrap .btn-area {
        margin-top: 0;
        margin-left: 1rem;
        display: block;
    }
}

/* jwkys2000@naver.com */