@charset "utf-8";

/* font setting */
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

/* reset */
/* ------------------------------ */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none
}

/* basic setting */
/* ------------------------------ */

html,
body {
    width: 100%;
    color: #333;
    overflow-y: auto;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: 'NanumSquare', sans-serif;
}

.font-family-root {
    font-family: 'NanumSquare', sans-serif !important;
}

.color-root {
    color: #333 !important
}

.font-weight-root {
    font-weight: 400 !important
}

.line-height-root {
    line-height: 1.5 !important
}

.font-size-root {
    font-size: 1rem !important
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

input[type='password'] {
    font-family: 'Noto Sans KR', sans-serif;
}

input::placeholder {
    color: #ddd;
}

input:focus {
    color: #4b5aaa !important;
    border-color: #4b5aaa !important;
}

input:focus,
select:focus,
button:focus {
    box-shadow: none !important;
}

.custom-select:focus {
    border-color: #4b5aaa !important;
}

/* responsive option */

.body.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.body-veil {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background: rgba(0, 0, 0, .8);
    display: none;
    z-index: 9;
}

.for-desktop {
    display: none;
}

.btn-responsive {
    flex-grow: 1;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
}

.btn-responsive+.btn-responsive {
    margin-left: .5rem;
}

.d-flex-for-desktop {
    display: block;
}

.d-flex-for-mobile {
    display: flex;
    display: -ms-flexbox;
}

.inline-responsive {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.inline-responsive .custom-control+.custom-control {
    margin-left: 1rem;
}

@media (min-width: 992px) {
    .body-veil {
        width: 0;
        height: 0;
        background: transparent;
    }

    .for-mobile {
        display: none;
    }

    .for-desktop {
        display: block;
    }

    .btn-responsive {
        flex-grow: initial;
        flex-basis: initial;
        -ms-flex-positive: initial;
        -ms-flex-preferred-size: initial;
    }

    .btn-responsive+.btn-responsive {
        margin-left: 0;
    }

    .d-flex-for-desktop {
        display: flex;
        display: -ms-flexbox;
    }

    .d-flex-for-mobile {
        display: block;
    }

    .inline-responsive .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    /*.inline-responsive .input-group,*/
    .inline-responsive .custom-select {
        width: auto;
    }

    .min-w-100px-desktop {
        min-width: 100px;
    }

    .min-w-150px-desktop {
        min-width: 150px;
    }

    .min-w-200px-desktop {
        min-width: 200px;
    }

    .min-w-250px-desktop {
        min-width: 250px;
    }

    .min-w-300px-desktop {
        min-width: 300px;
    }

    .min-w-350px-desktop {
        min-width: 350px;
    }

    .min-w-400px-desktop {
        min-width: 400px;
    }

    .min-w-450px-desktop {
        min-width: 450px;
    }

    .min-w-500px-desktop {
        min-width: 500px;
    }

    .max-w-100px-desktop {
        max-width: 100px;
    }

    .max-w-150px-desktop {
        max-width: 150px;
    }

    .max-w-200px-desktop {
        max-width: 200px;
    }

    .max-w-250px-desktop {
        max-width: 250px;
    }

    .max-w-300px-desktop {
        max-width: 300px;
    }

    .max-w-350px-desktop {
        max-width: 350px;
    }

    .max-w-400px-desktop {
        max-width: 400px;
    }

    .max-w-450px-desktop {
        max-width: 450px;
    }

    .max-w-500px-desktop {
        max-width: 500px;
    }
}

/* basic layout setting */
/* ------------------------------ */

.wrap-box {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrap-content {
    width: 1800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {}

.content-section {
    min-height: calc(100vh - 56px);
    padding: 2.5rem 0 5rem 0;
}

.header+.content-section {
    min-height: calc(100vh - 56px - 50px);
}

@media (min-width: 576px) {
    .content-section {
        min-height: calc(100vh - 56px);
        padding: 5rem 0 5rem 0;
    }

    .header+.content-section {
        min-height: calc(100vh - 56px - 90px);
    }
}

.article {}

.aside {}

.footer {
    padding: 1rem 0;
}

/* header */
/* ------------------------------ */

.brand {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.brand .logo {
    height: 50px;
}

/* slide off canvas */

.btn-top-toggle .before,
.btn-top-toggle .after {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-top-toggle .before,
.btn-top-toggle.active .after {
    display: block;
}

.btn-top-toggle .after,
.btn-top-toggle.active .before {
    display: none;
}

.soc-container {
    position: fixed;
    top: 50px;
    right: -320px;
    width: 320px;
    height: calc(100vh - 50px);
    background: #fff;
    z-index: 99;
    transition: right .2s ease-in-out;
    -o-transition: right .2s ease-in-out;
    -ms-transition: right .2s ease-in-out;
    -moz-transition: right .2s ease-in-out;
    -webkit-transition: right .2s ease-in-out;
}

.soc-container.active {
    right: 0;
}

.soc-body {
    overflow-y: auto;
    height: calc(100vh - 50px - 45px);
}

.soc-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.soc-footer .btn-log {
    padding: .75rem 1rem;
    display: block;
    text-align: right;
    font-size: .9rem;
    background: #4b5aaa;
    color: rgba(255, 255, 255, .8) !important;
}

/* navigation */

.nav-wrap {}

.nav-depth-one>li {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-depth-one>li>a {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    padding: .75rem .5rem .75rem 1.25rem;
    cursor: pointer;
}

.nav-depth-one>li>a>i {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 4px 0;
    color: rgba(51, 51, 51, .25);
    transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
}

.nav-depth-one>li.open>a {
    color: #4b5aaa !important;
}

.nav-depth-one>li.open>a>i {
    color: #4b5aaa;
    transform: rotate(90deg);
    -ms-transition: rotate(90deg);
}

.nav-depth-two {
    display: none;
}

.nav-depth-two>li {
    background-color: #fafafa;
    border-top: 1px solid #eee;
}

.nav-depth-two>li>a {
    display: block;
    padding: .5rem 2rem;
    font-size: 90%;
    color: #666;
    white-space: nowrap;
}

/* user info */

.user-info-wrap {
    position: relative;
}

.user-info-wrap .login {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.user-info-wrap .logout {
    display: none;
}

.user-info-wrap .user-wrap {
    display: flex;
    display: -ms-flexbox;
}

.user-wrap .user-thumbnail {
    padding: 0;
}

.user-wrap .user-thumbnail img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40px;
}

.user-wrap .user-name {
    padding: 0 0 0 1rem;
}

.user-info-wrap .login-info-wrap {
    position: absolute;
    font-size: .8rem;
    color: #999;
    top: calc(1.5rem + 15px);
    left: calc(2rem + 40px);
}

/* top rows */

.first-row {
    height: 0;
}

.first-row .icon-wrap {
    display: flex;
    display: -ms-flexbox;
    position: absolute;
    top: 0;
    right: 0;
}

.second-row {
    height: 50px;
    background: #373737;
}

@media (min-width: 992px) {
    .brand {
        left: 15px;
    }

    .brand .logo {
        height: 80px;
    }

    /* slide off canvas */

    .soc-container,
    .soc-container.active {
        position: relative;
        top: initial;
        right: initial;
        width: initial;
        height: initial;
        background: transparent;
        z-index: 9;
        margin-left: calc(80px + 1rem);
    }

    .soc-body {
        overflow-y: visible;
        height: auto;
    }

    /* navigation */

    .nav-wrap {}

    .nav-depth-one {
        display: flex;
        display: -ms-flexbox;
        white-space: nowrap;
    }

    .nav-depth-one>li {
        background-color: transparent;
        border-bottom: none;
        position: relative;
    }

    .nav-depth-one>li>a,
    .nav-depth-one>li.open>a {
        display: flex;
        display: -ms-flexbox;
        justify-content: initial;
        padding: 8px 1.25rem;
        color: #fff !important;
        background: transparent;
    }

    .nav-depth-one>li:hover>a {
        background: rgba(0, 0, 0, .2);
    }

    .nav-depth-one>li.active>a,
    .nav-depth-one>li.active:hover>a {
        background: #4b5aaa;
    }

    .nav-depth-one>li>a>i,
    .nav-depth-one>li.open>a>i,
    .nav-depth-one>li.active>a>i {
        color: rgba(255, 255, 255, .5);
        transform: rotate(90deg);
        -ms-transition: rotate(90deg);
        margin-right: -13px;
    }

    .nav-depth-one>li:hover>a>i,
    .nav-depth-one>li.active:hover>a>i {
        transform: rotate(-90deg);
        -ms-transition: rotate(-90deg);
    }

    .nav-depth-one>li>a>span {
        font-size: .9rem;
        padding-top: 2px;
    }

    li .nav-depth-two {
        position: absolute;
        top: 50px;
        left: -100vw;
        opacity: 0;
        display: block;
        overflow-y: hidden;
        transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -o-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -ms-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -moz-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -webkit-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    }

    li:hover .nav-depth-two {
        top: 40px;
        left: 0;
        opacity: 1;
    }

    li .nav-depth-two>li>a {
        transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
    }

    li .nav-depth-two>li>a:hover {
        color: #fff;
        background: #4b5aaa;
    }

    /* user info */

    .user-info-wrap {
        position: absolute;
        display: flex;
        display: -ms-flexbox;
        top: -50px;
        right: 0;
    }

    .user-info-wrap .login {
        padding: 0;
        border-bottom: 0;
    }

    .user-info-wrap .logout {
        display: block;
        margin-top: 10px;
    }

    .user-info-wrap .user-wrap {
        position: relative;
        display: flex;
        display: -ms-flexbox;
    }

    .user-wrap .user-thumbnail {
        padding: 10px 0;
    }

    .user-wrap .user-thumbnail img {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 40px;
    }

    .user-wrap .user-name {
        padding: 13px 0 13px .5rem;
    }

    .user-info-wrap .nav-member {
        position: absolute;
        top: 60px;
        left: -100vw;
        opacity: 0;
        transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -o-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -ms-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -moz-transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -webkit-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    }

    .user-info-wrap:hover .nav-member {
        top: 50px;
        left: 0;
        opacity: 1;
    }

    .nav-member ul {
        background: #000;
        padding: .5rem 0;
    }

    .nav-member ul li {
        display: block;
    }

    .nav-member ul li.split {
        padding-top: .5rem;
    }

    .nav-member ul li a {
        display: block;
        padding: .25rem 1rem;
        font-size: .9rem;
        color: #999 !important;
        transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
    }

    .nav-member ul li a:hover {
        color: #fff !important;
        background: #4b5aaa;
    }

    .user-info-wrap .login-info-wrap {
        position: relative;
        top: initial;
        left: initial;
        padding: 16px 0 0 1rem;
    }

    /* top rows */

    .first-row {
        height: 50px;
    }

    .first-row .slogan {
        margin-left: 80px;
        padding: 13px 1rem 13px 2.5rem;
    }

    .second-row {
        height: 40px;
    }

}

/* article */
/* ------------------------------ */

.page-header {
    margin-bottom: 2rem;
}

/* route */

.route {
    display: flex;
    display: -ms-flexbox;
    margin-top: .5rem;
}

.route a {
    display: block;
    cursor: pointer;
    font-size: .8rem;
    color: #666 !important;
}

.route a+a:before {
    display: inline-block;
    content: "/";
    padding: 0 .25rem;
    opacity: .25;
}

@media (min-width: 992px) {
    .page-header {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2.5rem;
    }

    .route {
        justify-content: flex-end;
    }

    .route a {
        font-size: .9rem;
    }

    .route a:hover {
        color: #4b5aaa !important;
    }
}

/* footer */
/* ------------------------------ */

.copyright {
    color: rgba(255, 255, 255, .5);
}

/* bootstrap customizing */
/* ------------------------------ */

.btn {
    white-space: nowrap
}

.btn,
.form-control,
.custom-select {
    border-radius: 0 !important;
}

.form-control,
.custom-select {
    border: 1px solid #ddd;
}

.container,
.container-fluid {
    position: relative;
}

/* common elements */
/* ------------------------------ */

/* search form section in list page */

.section-search-wrap {
    padding: 1rem;
    background: #fafafa;
}

.section-search-wrap .search-form-item+.search-form-item {
    margin-top: .5rem;
}

.section-search-wrap .search-form-item .label {
    width: 100%;
    display: block;
    height: 1.5rem;
    color: #4b5aaa;
    font-size: .9rem;
}

.section-search-wrap .search-btn-area {
    margin-top: 1rem;
    display: flex;
    display: -ms-flexbox;
}

.section-search-wrap+.section-table-wrap {
    margin-top: 1rem;
}

@media (min-width: 992px) {

    .section-search-wrap {
        display: flex;
        display: -ms-flexbox;
    }

    .section-search-wrap .search-form-item {
        margin-top: 0;
        width: 130px;
    }

    .section-search-wrap .search-form-item+.search-form-item {
        margin-left: .5rem;
        margin-top: 0;
    }

    .section-search-wrap .search-btn-area {
        flex: 1;
        text-align: right;
        margin-top: 1.5rem;
        margin-left: .5rem;
        display: block;
    }

    .section-search-wrap+.section-table-wrap {
        margin-top: 1.5rem;
    }
}

/* register form section in register page */

.section-register-wrap {
    padding: 1rem;
    border: 1px solid #ddd;
    position: relative;
}

.section-register-wrap .row-register .col-lg,
.section-register-wrap .row-register+.register-form-item,
.section-register-wrap .register-form-item+.register-form-item {
    margin-top: 1rem;
}

.section-register-wrap .register-form-item .label {
    width: 100%;
    display: block;
    height: 1.5rem;
    color: #4b5aaa;
    font-size: .9rem;
}

.section-register-wrap .register-form-container {}

.section-register-wrap .register-form-container .form-control,
.section-register-wrap .register-form-container .custom-select {
    border: 1px solid #ddd;
}

.section-register-wrap .register-btn-area {
    margin-top: 1rem;
    display: flex;
    display: -ms-flexbox;
}

.section-register-wrap .check-group {
    padding: 7px .75rem;
    border: 1px solid #ddd;
}

@media (min-width: 992px) {
    .section-register-wrap {
        padding: 0;
        border: 0;
    }

    .section-register-wrap .register-form-item {
        display: flex;
        display: -ms-flexbox;
        /* padding: 1rem; */
        border: 1px solid #ddd;
        background: #fafafa;
    }

    .section-register-wrap .row-register .col-lg,
    .section-register-wrap .row-register+.register-form-item,
    .section-register-wrap .register-form-item+.register-form-item {
        margin-top: -1px;
    }

    .section-register-wrap .row-register .col-lg+.col-lg {
        margin-left: -1px;
    }

    .section-register-wrap .register-form-item .label {
        width: 200px;
        padding: 1rem;
    }

    .section-register-wrap .register-form-container {
        flex: 1;
        padding: 1rem;
        background: #fff;
        border-left: 1px solid #ddd;
    }

    .section-register-wrap .register-btn-area {
        flex: 1;
        text-align: right;
        margin-top: 1.5rem;
        margin-left: .5rem;
        display: block;
    }

    .section-register-wrap .check-group {
        padding: 7px 0;
        border: 0;
    }
}

/* register detail form */

.search-form {
    display: flex;
    display: -ms-flexbox;
}

.search-form .form-control {
    max-width: 320px;
}

.search-form .form-control+.btn {
    margin-left: .25rem;
}

.search-form+.form-control,
.search-form+.custom-select {
    margin-top: .25rem;
}

@media (min-width: 992px) {
    .search-form .form-control {
        min-width: 150px;
    }

    .search-form.flex+.form-control,
    .search-form.flex+.custom-select {
        margin-top: 0;
        margin-left: 1rem;
        width: auto;
        min-width: 150px;
        max-width: 320px;
    }
}

/* table option */

.table-center {}

.table-center th,
.table-center td {
    text-align: center;
}

.table-font-size-90 {}

.table-font-size-90 th,
.table-font-size-90 td {
    font-size: 90%;
}

/* page option */

.page {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    margin-top: 1rem;
}

.page li+li {
    margin-left: .2rem;
}

.page a {
    display: block;
    cursor: pointer;
    padding: .25rem;
    min-width: 2rem;
    text-align: center;
    background: #f0f0f0;
    color: #ccc !important;
}

.page a:hover {
    color: #4b5aaa !important;
}

.page .active a {
    background: #4b5aaa;
    color: #fff !important;
}

/* modal layer popup */

.modal-layer-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    z-index: 999;
    background: rgba(0, 0, 0, .8);
}

.mlp-wrap {
    position: relative;
    background: #fff;
}

.mlp-header {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    background: #fff;
    min-height: 2rem;
}

.mlp-header .mlp-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4b5aaa;
    padding: 1rem;
}

.mlp-close {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .5;
    width: 30px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.mlp-header .mlp-close:hover {
    opacity: .75;
}

.mlp-content {
    height: 100%;
    max-height: calc(100vh - 11rem);
    overflow-y: auto;
    position: relative;
    padding: 1rem;
}

.mlp-footer {
    padding: 1rem;
    background: #fff;
    display: flex;
    display: -ms-flexbox;
}

.mlp-footer .btn+.btn {
    margin-left: .25rem;
}

.mlp-footer.flex .btn {
    flex: 1;
}

/* datepicker */

.ui-datepicker {
    width: 256px !important;
    padding: .5rem !important;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
}

.ui-widget-header {
    border: none !important;
    background: #4b5aaa !important;
    color: #fff !important;
    font-weight: normal !important;
    border-radius: 0 !important;
    margin: -.5rem -.5rem 0 -.5rem;
}

.ui-datepicker .ui-datepicker-header {
    padding: .75rem !important;
}

.ui-icon-circle-triangle-w {
    background-position: 0 !important;
}

.ui-icon-circle-triangle-e {
    background-position: -16px !important;
}

.ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
    opacity: .5;
}

.ui-datepicker .ui-datepicker-next {
    right: 0 !important;
    opacity: .5;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 0 !important;
    width: 52px !important;
    height: 52px !important;
}

.ui-widget-header .ui-state-hover {
    border: none !important;
    background: transparent !important;
    cursor: pointer;
    opacity: 1;
}

.ui-widget-header .ui-icon {
    background-image: url('../img/common/datepicker-arrow.png') !important;
}

.ui-datepicker table {
    margin: 0 !important;
}

.ui-datepicker th {
    padding: .5rem 0 !important;
    font-weight: normal !important;
}

.ui-datepicker th span[title="Sunday"] {
    color: #e64628;
}

.ui-datepicker th span[title="Saturday"] {
    color: #005cbf;
}

.ui-datepicker td {
    padding: 0 !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    width: 28px;
    border-radius: 20px;
    margin: .25rem auto 0 auto;
    border-color: transparent !important;
    background: transparent !important;
    color: rgba(51, 51, 51, .75) !important;
}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover {
    color: #4b5aaa !important;
    background: rgba(75, 90, 170, .25) !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    font-weight: bold !important;
    color: #4b5aaa !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-content .ui-state-active:hover {
    background: #4b5aaa !important;
    color: #fff !important;
}

.ui-state-default {
    text-align: center !important;
}

/* small items */

.input-flex-group label {
    font-size: 90%;
    color: #4b5aaa;
}

.info-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #999;
}

/* jwkys2000@naver.com */